# Project files
.vscode-test/
node_modules/
test-artifacts/
test-resources/
.eslintcache
vscode.proposed.d.ts

# Generated or external backend files
__pycache__
backend/**/*.zip
backend/resources/**/tmc/
backend/cli/
.tmc_test_results.json

# Build files
dist/
out/
*.vsix
