# Project files
.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**

**/.gitattributes
**/.gitignore
**/.eslintignore
**/.eslintrc.json
**/tsconfig.json
**/tsconfig.production.json
**/tslint.json
**/*.map
**/*.ts
**/vsc-extension-quickstart.md

# No SVG images to releases and only required images
**/*.svg
**/*.png
!media/TMC.png

# Webpack configuration
webpack.common.js
webpack.dev.js
webpack.prod.js
