<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{cssPath}}">
        <link rel="stylesheet" type="text/css" href="{{bootstrapPath}}">

        <script>
            const vscode = acquireVsCodeApi();
            function downloadExercises(ids) {
                vscode.postMessage({ type: "downloadExercises", ids });
            }
        </script>
    </head>

    <body>
        <div class="container container-fluid">
            {{#with details}}
                <h1>{{title}}</h1>
                <div>{{description}}</div>
                <ul>
                    {{#each exercises}}
                        <li>
                            {{this.name}}
                            <button onclick="downloadExercises([ {{this.id}} ])">download</button>
                        </li>
                    {{/each}}
                </ul>
            {{/with}}
        </div>
        
    </body>
</html>