<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{cssPath}}">
        <link rel="stylesheet" type="text/css" href="{{bootstrapPath}}">

        <script>
            const vscode = acquireVsCodeApi();
            function downloadSelectedExercises() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                const ids = [];
                for (const checkbox of checkboxes) {
                    if (checkbox.checked) {
                        ids.push(parseInt(checkbox.value));
                    }
                }
                if (ids.length > 0) {
                    vscode.postMessage({ type: "downloadExercises", ids });
                }
            }

            function toggleAll() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                let allWereOn = true;
                for (const checkbox of checkboxes) {
                    allWereOn = allWereOn && checkbox.checked;
                    checkbox.checked = true;
                }
                if (allWereOn) {
                    for (const checkbox of checkboxes) {
                        checkbox.checked = false;
                    }
                }
            }
        </script>
    </head>

    <body>
        <div class="container container-fluid pt-0">
            {{#with details}}
                <div class="sticky-top bg-white">
                    <div class="py-2">
                        <h1>{{title}}</h1>
                    </div>
                    <div class="row py-2">
                        <p>{{description}}</p>
                    </div>
                    <div class="row py-2">
                        <button class="mr-2" onclick="toggleAll()">Toggle all</button>
                        <button onclick="downloadSelectedExercises()">Download selected</button>
                    </div>
                </div>
                {{#each exercises}}
                    <div class="row pb-1">
                        <div class="col-sm-1 checkbox-centered checkbox-xl">
                            <input type="checkbox" value="{{this.id}}"/>
                        </div>
                        <div class="col-sm">
                            {{this.name}}
                        </div>
                    </div>
                {{/each}}
            {{/with}}
        </div>
    </body>
</html>