<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{cssPath}}">
        <link rel="stylesheet" type="text/css" href="{{bootstrapPath}}">

        <script>
            const vscode = acquireVsCodeApi();
            function downloadSelectedExercises() {
                const checkboxes = document.querySelectorAll("input#exerciseCheckbox");
                const ids = [];
                for (const checkbox of checkboxes) {
                    if (checkbox.checked) {
                        ids.push(parseInt(checkbox.value));
                    }
                }
                if (ids.length > 0) {
                    vscode.postMessage({ type: "downloadExercises", ids });
                }
            }
        </script>
    </head>

    <body>
        <div class="container container-fluid">
            {{#with details}}
                <h1>{{title}}</h1>
                <div>{{description}}</div>
                <button onclick="downloadSelectedExercises()">Download selected</button>
                <ul>
                    {{#each exercises}}
                        <li>
                            <input type="checkbox" value="{{this.id}}" id="exerciseCheckbox">
                                {{this.name}}
                            </input>
                        </li>
                    {{/each}}
                </ul>
            {{/with}}
        </div>
        
    </body>
</html>