<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{bootstrapPath}}">
        <link rel="stylesheet" type="text/css" href="{{cssPath}}">

        <script>
            const vscode = acquireVsCodeApi();
            let selectedCount = 0;
            let totalCount = undefined;

            function downloadSelectedExercises() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                const ids = [];
                for (const checkbox of checkboxes) {
                    if (checkbox.checked) {
                        ids.push(parseInt(checkbox.value));
                    }
                }
                if (ids.length > 0) {
                    vscode.postMessage({ type: "downloadExercises", ids, courseName: "{{courseName}}", organizationSlug: "{{organizationSlug}}", courseId: {{courseId}} });
                }
            }

            function updateCount(element) {
                selectedCount += element.checked ? 1 : -1;
                if (totalCount === undefined) {
                    totalCount = document.querySelectorAll('input[type="checkbox"]').length
                }
                if (selectedCount === totalCount) {
                    document.querySelector("button#togglebutton").innerHTML = "Deselect all";
                } else if (selectedCount === totalCount - 1) {
                    document.querySelector("button#togglebutton").innerHTML = "Select all";
                }
            }

            function toggleAll() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                if (totalCount === undefined) {
                    totalCount = checkboxes.length;
                }
                const deselect = selectedCount === totalCount;
                for (const checkbox of checkboxes) {
                    checkbox.checked = !deselect;
                }
                if (deselect) {
                    document.querySelector("button#togglebutton").innerHTML = "Select all";
                    selectedCount = 0;
                } else {
                    document.querySelector("button#togglebutton").innerHTML = "Deselect all";
                    selectedCount = totalCount;
                }
            }
        </script>
    </head>

    <body>
        <div class="container container-fluid pt-0">
            {{#with details}}
                <div class="sticky-top">
                    <div class="py-2">
                        <h1>{{title}}</h1>
                    </div>
                    <div class="row py-2">
                        <p>{{description}}</p>
                    </div>
                    <div class="row py-2">
                        <button class="mr-2" onclick="toggleAll()" id="togglebutton">Select all</button>
                        <button onclick="downloadSelectedExercises()">Download selected</button>
                        <button onclick="vscode.postMessage({type: 'exerciseDetails', id: {{id}} })">Return to exercise view</button>
                    </div>
                </div>
                <div style="overflow-y: hidden;">
                    <table class="table table-striped table-sm">
                        {{#each exercises}}
                        <tr>
                            <td width="40">
                                <div class="row pb-1">
                                    <div class="col-sm-1 checkbox-xl">
                                        <input type="checkbox" value="{{this.id}}" onchange="updateCount(this)"/>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-sm">
                                    {{this.name}}
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            {{/with}}
        </div>
    </body>
</html>