<html>
    <head>
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body class="p-0">
        <div class="w-100 sticky-top">
            <div class="container pt-0">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a onclick="backToMyCourses() " href="#">My courses</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a onclick="goToCourseDetails()" href="#">{{details.name}}</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    Download exercises
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                {{#with details}}
                <div class="row">
                    <div class="col">
                        <div class="py-2">
                            <h1>{{title}}</h1>
                        </div>
                        <div class="row p-2">
                            <span>{{description}}</span>
                        </div>
                        <div class="row py-2">
                            <div class="col-sm-3">
                                <h3 class="mt-2">Select</h3>
                                <button
                                    class="btn-primary m-1 w-100"
                                    onclick="toggleAll()"
                                    id="togglebutton"
                                >
                                    ALL
                                </button>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-sm-3">
                                <h3 class="mt-2">Action</h3>
                                <button
                                    class="btn-success m-1 w-100"
                                    onclick="downloadSelectedExercises()"
                                >
                                    Download selected
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Exercise name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sortedExercises}}
                    <tr>
                        <td class="text-center">
                            {{#if this.downloaded}} - {{/if}} {{#unless this.downloaded}}
                            <input
                                class="checkbox-xl"
                                type="checkbox"
                                value="{{this.exercise.id}}"
                                onchange="updateCount(this)"
                            />
                            {{/unless}}
                        </td>
                        <td>{{this.exercise.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <script>
            const vscode = acquireVsCodeApi();
            let selectedCount = 0;
            let totalCount = undefined;

            function downloadSelectedExercises() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                const ids = [];
                for (const checkbox of checkboxes) {
                    if (checkbox.checked) {
                        ids.push(parseInt(checkbox.value));
                    }
                }
                if (ids.length > 0) {
                    vscode.postMessage({ type: "downloadExercises", ids, courseName: "{{courseName}}", organizationSlug: "{{organizationSlug}}", courseId: {{courseId}} });
                }
            }

            function updateCount(element) {
                selectedCount += element.checked ? 1 : -1;
                if (totalCount === undefined) {
                    totalCount = document.querySelectorAll('input[type="checkbox"]').length
                }
                if (selectedCount === totalCount) {
                    document.querySelector("button#togglebutton").innerHTML = "Deselect all";
                } else if (selectedCount === totalCount - 1) {
                    document.querySelector("button#togglebutton").innerHTML = "Select all";
                }
            }

            function toggleAll() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                if (totalCount === undefined) {
                    totalCount = checkboxes.length;
                }
                const deselect = selectedCount === totalCount;
                for (const checkbox of checkboxes) {
                    checkbox.checked = !deselect;
                }
                if (deselect) {
                    document.querySelector("button#togglebutton").innerHTML = "ALL";
                    selectedCount = 0;
                } else {
                    document.querySelector("button#togglebutton").innerHTML = "NONE";
                    selectedCount = totalCount;
                }
            }

            function goToCourseDetails() {
                vscode.postMessage({ type: "courseDetails", id: {{courseId}} });
            }

            function backToMyCourses() {
                vscode.postMessage({ type: "myCourses" });
            }
        </script>
    </body>
</html>
