<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>

        <script>
            const vscode = acquireVsCodeApi();
        </script>
    </head>

    <body>
        <div class="container">
            <div>
                {{#if remaining}}
                <div class="row py-1">
                    <div class="col">
                        <h1>Downloading exercises...</h1>
                    </div>
                </div>
                {{else}}
                <div class="row py-1">
                    <div class="col">
                        <h1>Download complete</h1>
                    </div>
                </div>
                {{#if returnToCourse}}
                <div class="row py-1">
                    <div class="col">
                        <button
                            class="btn btn-primary"
                            onclick="vscode.postMessage({type: 'courseDetails', id: {{returnToCourse}} })"
                        >
                            Return to course details
                        </button>
                    </div>
                </div>
                {{/if}} {{/if}}
                <div class="row py-1">
                    <div class="col">
                        <div class="progress" style="width: 100%">
                            <div
                                class="progress-bar bg-success"
                                role="progressbar"
                                style="width: {{successfulPct}}%"
                                aria-valuenow="{{successful}}"
                                aria-valuemin="0"
                                aria-valuemax="{{total}}"
                            >
                                {{successfulPct}} %
                            </div>
                            <div
                                class="progress-bar bg-danger"
                                role="progressbar"
                                style="width: {{failedPct}}%"
                                aria-valuenow="{{failed}}"
                                aria-valuemin="0"
                                aria-valuemax="{{total}}"
                            >
                                {{failedPct}} %
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table cellpadding="3">
                {{#each exercises}}
                <tr>
                    <td>{{this.name}}</td>
                    {{#if this.downloaded}}
                    <td style="color: greenyellow">Downloaded!</td>
                    {{else}} {{#if this.failed}}
                    <td style="color: red">Download failed: {{this.error}}</td>
                    {{else}}
                    <td>
                        {{this.status}}
                        <div
                            class="spinner-border spinner-border-sm ml-auto"
                            role="status"
                            aria-hidden="true"
                        ></div>
                    </td>
                    {{/if}} {{/if}}
                </tr>
                {{/each}}
            </table>
        </div>
    </body>
</html>
