<html>
    <head>
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body class="p-0">
        <div class="w-100 sticky-top">
            <div class="container pt-0">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a onclick="backToMyCourses() " href="#">My courses</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a onclick="goToCourseDetails()" href="#">{{details.name}}</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    Download exercises
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="py-2">
                            <h1>{{details.title}}</h1>
                        </div>
                        <div class="row p-2">
                            <span>{{details.description}}</span>
                        </div>
                        <div class="row py-2">
                            <div class="col-sm-3">
                                <h3 class="mt-2">Select</h3>
                                <button
                                    class="btn-primary m-1 w-100"
                                    onclick="toggleAll()"
                                    id="togglebutton"
                                >
                                    ALL
                                </button>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-sm-3">
                                <h3 class="mt-2">Action</h3>
                                <button
                                    class="btn-success m-1 w-100"
                                    onclick="downloadSelectedExercises()"
                                >
                                    Download selected
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 class="mt-2">Show</h3>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <button
                                            class="btn-secondary m-1 w-100"
                                            id="showUncompleted"
                                            onclick="showList('uncompletedExercises')"
                                        >
                                            Uncompleted ({{uncompletedExercises.length}})
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button
                                            class="btn-primary m-1 w-100"
                                            id="showCompleted"
                                            onclick="showList('completedExercises')"
                                        >
                                            Completed ({{completedExercises.length}})
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button
                                            class="btn-primary m-1 w-100"
                                            id="showDownloaded"
                                            onclick="showList('downloadedExercises')"
                                        >
                                            Downloaded ({{downloadedExercises.length}})
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button
                                            class="btn-primary m-1 w-100"
                                            id="showLocked"
                                            onclick="showList('lockedExercises')"
                                        >
                                            Locked ({{lockedExercises.length}})
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button
                                            class="btn-primary m-1 w-100"
                                            id="showUpdated"
                                            onclick="showList('updatedExercises')"
                                        >
                                            Updateable ({{updatedExercises.length}})
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="uncompletedExercises" style="display:block">
            <h4>Uncompleted exercises</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Exercise name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each uncompletedExercises}}
                    <tr>
                        <td class="text-center">
                            <input
                                class="checkbox-xl"
                                type="checkbox"
                                value="{{this.id}}"
                                onchange="updateCount(this)"
                            />
                        </td>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="container" id="completedExercises" style="display:none">
            <h4>Completed exercises</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Exercise name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each completedExercises}}
                    <tr>
                        <td class="text-center">
                            <input
                                class="checkbox-xl"
                                type="checkbox"
                                value="{{this.id}}"
                                onchange="updateCount(this)"
                            />
                        </td>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="container" id="downloadedExercises" style="display:none">
            <h4>Downloaded exercises</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Exercise name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each downloadedExercises}}
                    <tr>
                        <td class="text-center">
                            -
                        </td>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="container" id="lockedExercises" style="display:none">
            <h4>Locked exercises</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Exercise name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each lockedExercises}}
                    <tr>
                        <td class="text-center">
                            -
                        </td>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="container" id="updatedExercises" style="display:none">
            <h4>Updateable exercises</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Exercise name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each updatedExercises}}
                    <tr>
                        <td class="text-center">
                            <input
                                class="checkbox-xl"
                                type="checkbox"
                                value="{{this.id}}"
                                onchange="updateCount(this)"
                            />
                        </td>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <script>
            const vscode = acquireVsCodeApi();
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const checkboxesByContainer = {
                completedExercises: document.getElementById("completedExercises").querySelectorAll('input[type="checkbox"]'),
                uncompletedExercises: document.getElementById("uncompletedExercises").querySelectorAll('input[type="checkbox"]'),
                lockedExercises: [],
                downloadedExercises: [],
                updatedExercises: document.getElementById("updatedExercises").querySelectorAll('input[type="checkbox"]'),
            };
            const buttonsByContainer = {
                completedExercises: document.getElementById("showCompleted"),
                uncompletedExercises: document.getElementById("showUncompleted"),
                lockedExercises: document.getElementById("showLocked"),
                downloadedExercises: document.getElementById("showDownloaded"),
                updatedExercises: document.getElementById("showUpdated"),
            };
            const toggleButton = document.querySelector("button#togglebutton");
            let currentContainer = "uncompletedExercises";
            let selectedCount = 0;
            let totalCount = checkboxesByContainer[currentContainer].length;

            function showList(id) {
                if (currentContainer !== id) {
                    for (const checkbox of checkboxesByContainer[currentContainer]) {
                        checkbox.checked = false;
                    }
                    buttonsByContainer[currentContainer].classList.remove('btn-secondary');
                    buttonsByContainer[currentContainer].classList.add('btn-primary');
                    buttonsByContainer[id].classList.remove('btn-primary');
                    buttonsByContainer[id].classList.add('btn-secondary');
                    document.getElementById(currentContainer).style.display="none";
                    document.getElementById(id).style.display="block";
                    currentContainer = id;
                    selectedCount = 0;
                    toggleButton.innerHTML = "ALL";
                    totalCount = checkboxesByContainer[currentContainer].length;
                }
            }

            function downloadSelectedExercises() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                const ids = [];
                for (const checkbox of checkboxes) {
                    if (checkbox.checked) {
                        ids.push(parseInt(checkbox.value));
                    }
                }
                if (ids.length > 0) {
                    vscode.postMessage({ type: "downloadExercises", ids, courseName: "{{courseName}}", organizationSlug: "{{organizationSlug}}", courseId: {{courseId}} });
                }
            }

            function updateCount(element) {
                selectedCount += element.checked ? 1 : -1;
                if (selectedCount === totalCount) {
                    toggleButton.innerHTML = "NONE";
                } else if (selectedCount === totalCount - 1) {
                    toggleButton.innerHTML = "ALL";
                }
            }

            function toggleAll() {
                const checkboxes = checkboxesByContainer[currentContainer];
                const deselect = selectedCount === totalCount;
                for (const checkbox of checkboxes) {
                    checkbox.checked = !deselect;
                }
                if (deselect) {
                    toggleButton.innerHTML = "ALL";
                    selectedCount = 0;
                } else {
                    toggleButton.innerHTML = "NONE";
                    selectedCount = totalCount;
                }
            }

            function goToCourseDetails() {
                vscode.postMessage({ type: "courseDetails", id: {{courseId}} });
            }

            function backToMyCourses() {
                vscode.postMessage({ type: "myCourses" });
            }
        </script>
    </body>
</html>
