<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body>
        <div class="container d-flex">
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-md">
                            <h1>Error:</h1>
                            <h2>{{error.name}}</h2>
                            <pre>{{error.message}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
