<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body>
        <div class="container d-flex">
            <button type="button" class="close" aria-label="Close" onclick="closeWindow()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col-md">
                            <h1>Error:</h1>
                            <h2>{{error.name}}</h2>
                            <pre>{{error.message}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const vscode = acquireVsCodeApi();

            function closeWindow() {
                vscode.postMessage({ type: "closeWindow" });
            }
        </script>
    </body>
</html>
