<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{bootstrapPath}}">
    <link rel="stylesheet" type="text/css" href="{{cssPath}}">
</head>

<body>
    <h1>Exercise details</h1>

    <div style="overflow-y: hidden;">
        <table class="table table-striped table-sm">
            <div>
                <button class="btn-primary" onclick="openCloseAll('closeCompleted')">Close all completed</button>
                <button class=" btn-primary" onclick="openCloseAll('openUncompleted')">Open all uncompleted</button>
            </div>
            <div>
                <button class="btn-primary" onclick="handleSelected('openSelected')">Open selected</button>
                <button class="btn-primary" onclick="handleSelected('closeSelected')">Close selected</button>
            </div>
            {{#each exercises}}
            <tr>
                <td width=" 40">
                    <div class="row pb-1">
                        <div class="col-sm-1 checkbox-xl">
                            <input type="checkbox" value="{{this.id}}" onchange="updateCount(this)" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col-sm">
                        {{this.name}}
                    </div>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <script>
        const vscode = acquireVsCodeApi();

        function handleSelected(type) {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const ids = [];
            for (const checkbox of checkboxes) {
                if (checkbox.checked) {
                    ids.push(parseInt(checkbox.value));
                }
            }
            if (ids.length > 0) {
                vscode.postMessage({ type: type, ids });
            }
        }

        function openCloseAll(type) {
            vscode.postMessage({ type: type, id: {{ details.id }}})
        }

    </script>
</body>

</html>