<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{cssPath}}">
    <link rel="stylesheet" type="text/css" href="{{bootstrapPath}}">
</head>

<body>
    <div class="container container-fluid">
        <h1>My courses</h1>

        <div class="row">
            <div class="col-md">
                <h4>Here are listed all the courses you have enrolled to.</h4>
            </div>
        </div>

        <div>
            <input type="button" onclick="addCourse()" class="btn-primary relative" value="Add a new course" />
        </div>

        {{#each courses}}
        <div class="row org-row border-dark">
            <div class="col-md" onclick="fetchCourseDetails('{{this.id}}')">
                <h3>{{{this.name}}} <small class="text-muted">{{{this.organization}}}</small></h3>
            </div>
        </div>
        {{/each}}
    </div>

    <script>
        const vscode = acquireVsCodeApi();

        function addCourse() {
            vscode.postMessage({ addNewCourse: true });
        }
        function fetchCourseDetails(id) {
            vscode.postMessage({ type: "courseDetails", id: id });
        }
    </script>
</body>

</html>