<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{cssPath}}">
        <link rel="stylesheet" type="text/css" href="{{bootstrapPath}}">
    </head>

    <body>
        <div class="container container-fluid">
            <h1>Generic index page</h1>

            <p>Here we could have information about logged in user, selected organization, selected course</p>
            <p>Perhaps if possible, some indication how much of the course is completed or which exercises are passed on the TMC server</p>
            <p>We'll have to think about this...</p>
        </div>
    </body>
</html>