<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body>
        <div class="container container-fluid">
            <h1>My courses</h1>

            {{#if courses}}
            <div>
                <input
                    type="button"
                    onclick="addCourse()"
                    class="btn-primary mb-4 mt-2"
                    value="Add new course"
                />
            </div>
            {{#each courses}}
            <div class="row org-row border-dark">
                <div class="col-md" onclick="fetchCourseDetails({{this.id}})">
                    <button
                        type="button"
                        class="close"
                        onclick="removeCourse(event, {{this.id}})"
                        aria-label="Remove course"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3>{{this.name}} <small class="text-muted">{{this.organization}}</small></h3>
                    <p>{{this.description}}</p>

                    <p>
                        Next deadline: {{#if this.nextDeadline}} {{this.nextDeadline}} {{else}}
                        <span
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        ></span>
                        {{/if}}
                    </p>
                    <div>
                        Course progress:
                        <div class="progress">
                            <div
                                class="progress-bar bg-success"
                                role="progressbar"
                                style="width: {{this.completedPrc}}%"
                                aria-valuenow="{{this.completedPrc}}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            >
                                {{this.completedPrc}} %
                            </div>
                        </div>
                    </div>
                    {{#if this.newExercises}}
                    <div class="alert alert-info mt-2" role="alert">
                        <span>{{newExercises.length}} new exercises found for this course.</span>
                        <button
                            type="button"
                            class="btn btn-success ml-1"
                            onclick="downloadNewExercises(event, '{{this.newExercises}}', '{{this.name}}', '{{this.organization}}', {{this.id}})"
                        >
                            Download them!
                        </button>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}} {{else}}
            <div>
                <h4>No courses selected</h4>
                <input
                    type="button"
                    onclick="addCourse()"
                    class="btn-primary"
                    value="Add new course"
                />
            </div>
            {{/if}}
        </div>

        <script>
            const vscode = acquireVsCodeApi();

            function addCourse() {
                vscode.postMessage({ type: "addCourse" });
            }

            function removeCourse(event, id) {
                event.stopPropagation(); // Don't send onclick event upwards
                vscode.postMessage({ type: "removeCourse", id });
            }

            function downloadNewExercises(event, ids, courseName, organizationSlug, courseId) {
                event.stopPropagation(); // Don't send onclick event upwards
                const splitToNumbers = ids.split(",").map(Number);
                vscode.postMessage({
                    type: "downloadExercises",
                    ids: splitToNumbers,
                    courseName,
                    organizationSlug,
                    courseId,
                });
            }

            function fetchCourseDetails(id) {
                vscode.postMessage({ type: "courseDetails", id: id });
            }
        </script>
    </body>
</html>
