<html>
    <head>
        <style>{{{cssBlob}}}</style>
    </head>

    <body>
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex align-items-center">
                        <h2>Loading...</h2>
                        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>