<html>
    <head>
        <style>{{{cssBlob}}}</style>

        <script>
            const vscode = acquireVsCodeApi();
            function onSubmit() {
                const form = document.getElementById("loginform");
                const usernameField = document.getElementById("username");
                const passwordField = document.getElementById("password");
                const submitButton = document.getElementById("submit");
                submitButton.disabled = true;
                vscode.postMessage({type: "login", username: usernameField.value, password: passwordField.value});
            }

            setTimeout(() => {
                document.getElementById("error").style.display = "none";
            }, 7500);
        </script>
    </head>
    <body>
        <div class="container fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>Login</h1>

                    <div id="error">{{{error}}}</div>

                    <form id="loginform" onsubmit="onSubmit()">
                        <div class="form-group">
                            <label for="username">Email or username:</label>
                            <input type="text" class="form-control" id="username" autofocus><br>
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password"><br>
                        </div>
                        <input type="submit" class="btn btn-primary" id="submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
