<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{cssPath}}">
    </head>
    <body>
        <h1>Login</h1>
        <p class="error">{{error}}</p>
        <form id="loginform">
        Email or username:<br>
        <input type="text" id="username"><br>
        Password:<br>
        <input type="password" id="password"><br>
        <input type="submit" id="submit">
        <script>
            const vscode = acquireVsCodeApi();
            const form = document.getElementById("loginform");
            const usernameField = document.getElementById("username");
            const passwordField = document.getElementById("password");
            const submitButton = document.getElementById("submit");
            form.onsubmit = () => {
                submitButton.disabled = true;
                vscode.postMessage({type: "login", username: usernameField.value, password: passwordField.value});
            }
        </script>
        </form>
    </body>
</html>
