<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>

        <script>
            const vscode = acquireVsCodeApi();
            function sendOrganization(slug) {
                vscode.postMessage({ type: "setOrganization", slug });
            }

            function searchOrgs(param) {
                orgs = document.getElementsByClassName("organization");
                for (i = 0; i < orgs.length; i++) {
                    name = orgs[i].getAttribute("name");
                    if (name.toUpperCase().includes(param.toUpperCase())) {
                        orgs[i].style.display = "";
                    } else {
                        orgs[i].style.display = "none";
                    }
                }
            }
        </script>
    </head>

    <body>
        <div class="container container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="org-header">Frequently used organizations</h1>
                    {{#each pinned}}
                    <div
                        class="row org-row border-current-color"
                        onclick="sendOrganization('{{this.slug}}')"
                        data-se="pinned-organization-card"
                    >
                        <div class="col-md-2 bg-white d-flex flex-wrap align-items-center">
                            <img
                                class="img-fluid org-img"
                                src="{{resolve_logo_path this.logo_path}}"
                            />
                        </div>
                        <div class="col-md-10">
                            <h3>{{this.name}} <small class="text-muted">({{this.slug}})</small></h3>
                            <p>{{this.information}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="row pt-4">
                <div class="col">
                    <h1>All organizations</h1>
                    <div class="input-group-lg">
                        <input
                            class="form-group form-control-lg"
                            type="text"
                            placeholder="Search organizations"
                            onkeyup="searchOrgs(this.value)"
                            value=""
                            data-se="organization-filter"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{#each organizations}}
                    <div
                        name="{{this.name}}, {{this.information}}, {{this.slug}}"
                        class="row org-row border-current-color organization"
                        onclick="sendOrganization('{{this.slug}}')"
                        data-se="organization-card"
                    >
                        <div class="col-md-2 bg-white d-flex flex-wrap align-items-center">
                            <img
                                class="img-fluid org-img"
                                src="{{resolve_logo_path this.logo_path}}"
                            />
                        </div>
                        <div class="col-md-10">
                            <h4>{{this.name}} <small class="text-muted">({{this.slug}})</small></h4>
                            <p>{{this.information}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </body>
</html>
