<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>TMC Settings</h1>
                    <p>
                        Here you can change TMC extension settings. <br />
                        Settings are saved automatically.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Insider version</h5>
                            <p class="card-text">
                                Toggle this on if you wish to use and test TestMyCode extension
                                upcoming features and enhancements.<br />
                                New features might not be visible by eye and might crash the
                                extension. <br />
                                You can always opt-out if something isn't working and use the stable
                                version. <br />
                                If you encounter any issues, please report them to our Github
                                <a href="https://github.com/rage/tmc-vscode/issues/new/choose"
                                    >issues</a
                                >.
                            </p>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    onclick="toggleInsider()"
                                    class="custom-control-input"
                                    id="insider-version"
                                />
                                <label class="custom-control-label" for="insider-version"
                                    >Opt-in</label
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">TMC Data</h5>
                            <p class="card-text">
                                Currently your TMC data ({{tmcDataSize}}) is located at: <br />
                                <span class="text-break">{{extensionSettings.dataPath}}</span>
                            </p>
                            <button class="btn btn-primary" onclick="changeTmcDataPath()">
                                Change path
                            </button>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Extension logging</h5>
                            <p class="card-text">
                                <label for="log-level">Choose log level:</label>
                                <select id="log-level">
                                    <option selected>
                                        Current: {{extensionSettings.logLevel}}
                                    </option>
                                    <option value="none">none</option>
                                    <option value="errors">errors</option>
                                    <option value="verbose">verbose</option>
                                </select>
                            </p>
                            <div id="btn-grp" class="btn-group mx-2">
                                <button
                                    id="show-logs-btn"
                                    class="btn btn-primary"
                                    onclick="showLogs()"
                                >
                                    Show logs
                                </button>
                                <button
                                    id="open-logs-btn"
                                    class="btn btn-primary"
                                    onclick="openLogsFolder()"
                                >
                                    Open logs folder
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Hide Exercise Meta files</h5>
                            <p class="card-text">
                                Hides exercise meta files, i.e. .available_points.json,
                                .tmc_test_result.json, tmc, etc.
                            </p>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    onclick="hideMetaFiles()"
                                    class="custom-control-input"
                                    id="check-meta-files"
                                />
                                <label class="custom-control-label" for="check-meta-files"
                                    >Toggle to hide</label
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Download old submission</h5>
                            <p class="card-text">
                                Setting to download old submission by default, if found on TMC
                                Server.
                            </p>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    onclick="downloadOldSubSetting()"
                                    class="custom-control-input"
                                    id="download-old-submission"
                                />
                                <label class="custom-control-label" for="download-old-submission"
                                    >Toggle to enable</label
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Update exercises automatically</h5>
                            <p class="card-text">
                                Downloads any available updates to exercises automatically. If
                                turned off, shows a notification instead.
                            </p>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    onclick="updateExercisesAutomaticallySetting()"
                                    class="custom-control-input"
                                    id="update-exercises-automatically"
                                />
                                <label
                                    class="custom-control-label"
                                    for="update-exercises-automatically"
                                    >Toggle to enable</label
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Editor: Open Side By Side Direction</h5>
                            <p class="card-text">
                                Controls the default direction of editors that are opened side by
                                side (e.g. from the explorer). By default, editors will open on the
                                right hand side of the currently active one. If changed to down, the
                                editors will open below the currently active one.
                            </p>
                            <button class="btn btn-primary" onclick="gotoSettings()">
                                Change in VSCode settings
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const vscode = acquireVsCodeApi();
            const metaFile = {{extensionSettings.hideMetaFiles}};
            const insider = {{extensionSettings.insiderVersion}};
            const downloadOldSubmissionSetting = {{extensionSettings.downloadOldSubmission}};
            const updateExercisesAutomatically = {{extensionSettings.updateExercisesAutomatically}};

            function changeTmcDataPath() {
                vscode.postMessage({ type: "changeTmcDataPath" });
            }

            function showLogs() {
                vscode.postMessage({ type: "showLogsToUser" });
            }

            function openLogsFolder() {
                vscode.postMessage({ type: "openLogsFolder" });
            }

            const element = document.getElementById("log-level");
            const buttonGroup = document.getElementById("btn-grp");
            if (element.options[0].value.includes("none")) {
                buttonGroup.style.display = "none";
            } else {
                buttonGroup.style.display = "block";
            }
            element.addEventListener("change", function () {
                const element = document.getElementById("log-level");
                if (element.selectedIndex !== 0) {
                    const level = element.options[element.selectedIndex].value;
                    vscode.postMessage({ type: "changeLogLevel", data: level });
                }
            });

            if (metaFile) {
                document.getElementById("check-meta-files").checked = true;
            }
            if (insider) {
                document.getElementById("insider-version").checked = true;
            }
            if (downloadOldSubmissionSetting) {
                document.getElementById("download-old-submission").checked = true;
            }
            if (updateExercisesAutomatically) {
                document.getElementById("update-exercises-automatically").checked = true;
            }

            function hideMetaFiles() {
                const checkbox = document.getElementById("check-meta-files");
                vscode.postMessage({ type: "hideMetaFiles", data: checkbox.checked });
            }
            function toggleInsider() {
                const checkbox = document.getElementById("insider-version");
                vscode.postMessage({ type: "insiderVersionLegacy", data: checkbox.checked });
            }
            function downloadOldSubSetting() {
                const checkbox = document.getElementById("download-old-submission");
                vscode.postMessage({ type: "downloadOldSubmissionSetting", data: checkbox.checked });
            }
            function updateExercisesAutomaticallySetting() {
                const checkbox = document.getElementById("update-exercises-automatically");
                vscode.postMessage({ type: "updateExercisesAutomaticallySetting", data: checkbox.checked });
            }
            function gotoSettings() {
                vscode.postMessage({ type: "openEditorDirection" });
            }
        </script>
    </body>
</html>
