<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>TMC Settings</h1>
                    <p>
                        Here you can change TMC extension settings. <br />
                        Settings are saved automatically.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">TMC Data</h5>
                            <p class="card-text">
                                Currently your TMC data ({{tmcDataSize}}) is located at: <br />
                                <span class="text-break">{{extensionSettings.dataPath}}</span>
                            </p>
                            <button class="btn btn-primary" onclick="changeTmcDataPath()">
                                Change path
                            </button>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Extension logging</h5>
                            <p class="card-text">
                                <label for="log-level">Choose log level:</label>
                                <select id="log-level">
                                    <option selected>
                                        Current: {{extensionSettings.logLevel}}
                                    </option>
                                    <option value="none">none</option>
                                    <option value="errors">errors</option>
                                    <option value="verbose">verbose</option>
                                </select>
                            </p>
                            <button id="show-logs-btn" class="btn btn-primary" onclick="showLogs()">
                                Show logs
                            </button>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Hide Exercise Meta files</h5>
                            <p class="card-text">
                                Hides exercise meta files, i.e. .available_points.json,
                                .tmc_test_result.json, tmc, etc.
                            </p>
                            <div class="custom-control custom-switch">
                                <input
                                    type="checkbox"
                                    onclick="hideMetaFiles()"
                                    class="custom-control-input"
                                    id="check-meta-files"
                                />
                                <label class="custom-control-label" for="check-meta-files"
                                    >Toggle to hide</label
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card-transparent border-color my-1">
                        <div class="card-body">
                            <h5 class="card-title">Editor: Open Side By Side Direction</h5>
                            <p class="card-text">
                                Controls the default direction of editors that are opened side by
                                side (e.g. from the explorer). By default, editors will open on the
                                right hand side of the currently active one. If changed to down, the
                                editors will open below the currently active one.
                            </p>
                            <button class="btn btn-primary" onclick="gotoSettings()">
                                Change in VSCode settings
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const vscode = acquireVsCodeApi();
            const metaFile = {{extensionSettings.hideMetaFiles}};
            function changeTmcDataPath() {
                vscode.postMessage({ type: "changeTmcDataPath" });
            }

            function showLogs() {
                vscode.postMessage({ type: "showLogsToUser" });
            }

            const element = document.getElementById("log-level");
            const button = document.getElementById("show-logs-btn");
            if (element.options[0].value.includes("none")) {
                button.style.display = "none";
            } else {
                button.style.display = "block";
            }
            element.addEventListener("change", function () {
                const element = document.getElementById("log-level");
                if (element.selectedIndex !== 0) {
                    const level = element.options[element.selectedIndex].value;
                    vscode.postMessage({ type: "changeLogLevel", data: level });
                }
            });

            if (metaFile) {
                document.getElementById("check-meta-files").checked = true;
            }
            function hideMetaFiles() {
                const checkbox = document.getElementById("check-meta-files");
                vscode.postMessage({ type: "hideMetaFiles", data: checkbox.checked });
            }
            function gotoSettings() {
                vscode.postMessage({ type: "openEditorDirection" });
            }
        </script>
    </body>
</html>
