<html>
    <head>
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body>
        <div class="container">
            <div>
                <div class="py-2">
                    <h2>Processing submission...</h2>
                </div>
                <div class="py-2">
                    <input
                        type="button"
                        onclick="runInBackground()"
                        class="btn-primary"
                        value="Run in background"
                    />
                    <input
                        type="button"
                        onclick="showInBrowser()"
                        class="btn-primary"
                        value="Show submission in browser"
                    />
                </div>
                <div>
                    {{#check_submission_status sandbox_status}}
                    <h3>{{status}}</h3>
                    {{/check_submission_status}}
                </div>
            </div>
        </div>

        <script>
            const vscode = acquireVsCodeApi();

            function runInBackground() {
                vscode.postMessage({ runInBackground: true });
            }
            function showInBrowser() {
                vscode.postMessage({ showInBrowser: true });
            }
        </script>
    </body>
</html>
