<html>
    <head>
        {{{cspBlob}}}
        <style>
            {{{cssBlob}}}
        </style>
    </head>

    <body>
        <div class="container">
            <div>
                <div class="py-2">
                    <h2>Processing submission...</h2>
                </div>
                <div class="py-2">
                    <input
                        type="button"
                        onclick="runInBackground()"
                        class="btn btn-primary"
                        value="Run in background"
                    />
                    {{#if submissionUrl}}
                    <button
                        type="button"
                        class="btn btn-primary show-in-browser"
                        onclick="showInBrowser('{{submissionUrl}}')"
                    >
                        Show submission in browser
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-primary show-in-browser" disabled>
                        Show submission in browser
                    </button>
                    {{/if}}
                </div>
                <div>
                    {{#check_submission_status messages progressPct}}
                    <h3>{{status}}</h3>
                    {{/check_submission_status}}
                </div>
            </div>
        </div>

        <script>
            const vscode = acquireVsCodeApi();
            const submission_url = "{{submissionUrl}}";

            function runInBackground() {
                vscode.postMessage({ type: "closeWindow" });
            }

            function showInBrowser(url) {
                vscode.postMessage({
                    type: "showSubmissionInBrowserStatus",
                    data: { submissionUrl: url },
                });
            }
        </script>
    </body>
</html>
