/*
    Bootstrap fixes
*/
body {
    background-color: var(--vscode-editor-background) !important;
}

pre {
    color: inherit;
    white-space: pre-line;
}

body.vscode-light {
    color: black;
}
  
body.vscode-dark {
    color: white;
}
  
body.vscode-high-contrast {
    color: red;
}

.breadcrumb {
    background-color: inherit;
    padding: .5rem 1rem 0 1rem;
    margin-bottom: .5rem;
}

.container {
    padding-top: 20px;
}

.table {
    color: inherit;
}

.error {
    color: red;
}

/*
    Course and organization view
*/
.org-row {
    padding: 10px 0px;
    margin-bottom: 10px;
    min-height: 125px;
}

.org {
    padding: 10px 0px;
    margin-bottom: 10px;
    min-height: 125px;
}

.org-row:hover {
    background-color: #CAC7C7;
    cursor: pointer;
}

.org-img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    display: block;
}

.org-header {
    padding: 20px 0px;
}

.border-dark {
    border: 1px solid black !important;
    border-radius: 5px;
}


/*
    Course details checkbox styling
*/
.checkbox-centered { 
    text-align:justify; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    justify-content:center; 
}

.checkbox-xl {
    transform:scale(1.75);
}

.sticky-top {
    background-color: var(--vscode-editor-background);
}

.badge:hover {
    cursor: pointer;
}

.feedback-textarea {
    width: inherit;
}

/*
    TMC Test styles
*/

.passed {
    border: 1px dashed green;
    border-left: 5px solid green;
    display: block;
    padding: 10px 0px;
}

.failed {
    border: 1px dashed red;
    border-left: 5px solid red;
    display: block;
    padding: 10px 0px;
}

.passed-header {
    color: green;
    font-weight: bold;
}

.failed-header {
    color: red;
    font-weight: bold;
}