/*
    Bootstrap fixes
*/
body {
    background-color: var(--vscode-editor-background) !important;
}

pre {
    color: inherit;
    white-space: pre-wrap;
    word-wrap: "break-word";
}

hr {
    border: 1px solid currentColor;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}


body.vscode-light {
    color: black;
}
  
body.vscode-dark {
    color: white;
}
  
body.vscode-high-contrast {
    color: red;
}

button.disabled, button:disabled {
    opacity: .35 !important;
    cursor: default;
}

body.vscode-high-contrast tbody tr:nth-of-type(odd) {
    background-color: rgba(222,222,222,.3);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.3);
}

.breadcrumb {
    background-color: inherit;
    padding: .5rem 1rem 0 1rem;
    margin-bottom: .5rem;
}

.container {
    padding-top: 20px;
}

.welcome-container {
    max-width: 1100px;
    min-width: 500px;
    display: grid;
    grid-template-areas:
        'header header'
        'info sidebar'
        'content sidebar';
    grid-template-columns: repeat(1,1fr min-content);
    margin: 1em auto;
    grid-gap: 1em 3em;
}

.info_area {
    grid-area: info;
    font-size: 1rem;
    font-weight: 200;
}

.content_area {
    grid-area: content;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 200;
    padding: 1em 1em;
}

body.vscode-dark .content_area {
    background-color: var(--vscode-editor-background);
    filter: brightness(120%);
}

body.vscode-light .content_area {
    background-color: var(--vscode-editor-background);
    filter: brightness(80%);
}

.content_section {
    padding: 1em;
    margin-bottom: 1em;
}

.sidebar {
    grid-area: sidebar;
    align-self: flex-start;
    font-size: 0.8rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.sidebar_group {
    margin-top: 1em;
}

.sidebar_group ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_group li {
    white-space: nowrap;
}


.border-current-color {
    border: 1px solid currentColor !important;
    border-radius: 5px;
}

.table {
    color: inherit;
}

.error {
    color: red;
}

.close {
    color: inherit;
}

/*
    Course and organization view
*/
.org-row {
    padding: 10px 0px;
    margin-bottom: 10px;
    min-height: 125px;
}

.org {
    padding: 10px 0px;
    margin-bottom: 10px;
    min-height: 125px;
}

body.vscode-high-contrast .org-row:hover {
    background-color: #3f3f3f;
    cursor: pointer;
}

body.vscode-dark .org-row:hover {
    background-color: #575757;
    cursor: pointer;
}

body.vscode-light .org-row:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.org-img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    display: block;
}

.org-header {
    padding: 20px 0px;
}

.border-dark {
    border: 1px solid black !important;
    border-radius: 5px;
}


/*
    Course details
*/
.checkbox-centered { 
    text-align:justify; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    justify-content:center; 
}

.checkbox-xl {
    transform:scale(1.5);
}

.badge:hover {
    cursor: pointer;
}

.feedback-textarea {
    width: inherit;
}

.show-all-button {
    background: transparent;
    border: 1px solid currentColor;
    border-bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    color: inherit;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body.vscode-high-contrast .show-all-button:hover {
    background-color: #444444;
    cursor: pointer;
}

body.vscode-dark .show-all-button:hover {
    background-color: #646464;
    cursor: pointer;
}

body.vscode-light .show-all-button:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

#context-menu {
    visibility: hidden;
    background-color: var(--vscode-editor-background) !important;
    width: 75%;
    border-radius: 0;
    padding: 0;
}

/*
    TMC Test styles
*/

.passed {
    border: 1px dashed green;
    border-left: 5px solid green;
    display: block;
    padding: 10px 0px;
}

.failed {
    border: 1px dashed red;
    border-left: 5px solid red;
    display: block;
    padding: 10px 0px;
}

.passed-header {
    color: green;
    font-weight: bold;
}

.failed-header {
    color: red;
    font-weight: bold;
}

.collapsible {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border: 1px solid currentColor;
    border-radius: 5px;
}

.active, .collapsible:hover {
    background-color: rgb(119, 119, 119);
}

.content-collapsible {
    margin: 5px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: inherit;
}

/*
    Other
*/

.border-color {
    border: 1px solid currentColor;
    border-radius: 5px;
}

.min-w-40 {
    min-width: 40%;
    max-width: 40%;
    width: 40%;
}


.min-w-35 {
    min-width: 35%;
    max-width: 35%;
    width: 35%;
}

.min-w-30 {
    min-width: 30%;
    max-width: 30%;
    width: 30%;
}

.min-w-15 {
    min-width: 15%;
    max-width: 15%;
    width: 15%;
}

.min-w-10 {
    min-width: 10%;
    max-width: 10%;
    width: 10%;
}

.min-w-5 {
    min-width: 5%;
    max-width: 5%;
    width: 5%;
}